@media only screen and (max-width: 470px){
	footer p{
		justify-content: center;
	}

	.container{
		width: 100%;
	}
	.secret{
		display: none;
	}

	.desktop{
		display: none;
	}

	.banner-text{
		max-width: 80%;
		padding-left: 2rem;
		padding-top: 1rem;
	}
	.banner-text p{
		font-size: 0.77rem;
		font-weight: bold;
	}

	.banner-text h2{
		font-size: 1rem;
		font-weight: bold;
	}

}

@media only screen and (min-width: 1024px){
	.tablet{
		display: none;
	}
	.mobile{
		display: none;
	}
}

@media only screen and (max-width: 1024px){
	.container{
		width: 100%;
	}
	.images{
		width: 47%;
	}

	.desktop{
		display: none;
	}

	.mobile{
		display: none;
	}

	.banner-text{
		float: left;
	}
}

html{
	font-size: 18px;
}

header{
	background-color: black;
	height: 2.82rem;
}

header p{
	display: inline-flex;
	color: white;
	font-family: Helvetica;
	padding-top: 0.66rem;
	margin-bottom: 0.66rem;
}

header img{
	padding-top: 0.66rem;
	height: 1.5rem;
	width: 3rem;
}



nav{
	background-color: firebrick;
	color: white;
	height: 2.25rem;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	padding-top: 0.75rem;
}

div img{
	height: 9rem;
	padding: 2rem;
}

div h3{
	width: 15rem;
	background-color: black;
	color: white;
	padding-left: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

footer{
	height: 5rem;
	background-color: black;
}

footer p{
	color: white;
	padding-top: 2.3rem;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.main-banner{
	height: 25rem;
	z-index: 1;
	background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.images{
	display: flex;
}

.image{
	border: 4px black solid;
	width: 30%;
	display: relative;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.bottom-items{
	display:inline-flex;
	justify-content: space-between;
}

.bottom{
	width: 35%;
	margin-bottom: 4rem;
}

#thermal{
	width: 80%;
}

#hours{
	display: relative;
	float: right;
}

#image{
	background-color: black;
	color: white;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.banner-text{
	background-color: black;
	width: 25rem;
	z-index: 2;
	position: relative;
}

.banner-text p{
	font-family: Helvetica;
	font-size: 1rem;
	font-weight: bold;
	padding-top: 2rem;
	padding-left: 3rem;
	padding-bottom: 0.25rem;
	color: white;
}

.banner-text h2{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	padding-bottom: 2rem;
	padding-left: 3rem;
	font-size: 2rem;
}

#logo{
	height: 1.5rem;
	padding-right: 1rem;
	padding-left: 0.5rem;
}
